/**$v-background-color: hsl(0, 100%, 100%);*/
$v-layout-margin-top:5px;
$v-layout-margin-right:3px;
$v-layout-margin-left:3px;
$v-layout-margin-bottom:0px;
$v-focus-color:#808080;
$v-font-color:#808080;
$v-font-size:14px;

@import "../valo/valo";

.forums{
	@include valo;

	.top-line{
		background-color:#FF0000;
		padding:0;
		margin:0;
	}

	.button-align-left .v-button-wrap {
   		text-align: left; 
	}

	.paging{
		margin:3px;
	}
}